body {
    background-color: #f5f5f5; /* Fundo mais claro e amigável */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Fonte mais moderna */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    min-height: 100vh; /* Garante que o body ocupe a altura total da tela */
  }
  
  .container {
    background-color: #fff; /* Fundo branco para contraste */
    display: flex;
    flex-direction: column;
    padding: 2rem; 
    border-radius: 10px; /* Bordas mais arredondadas */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: 70%; 
    margin: 2rem auto; /* Margens superior e inferior para espaçamento */
  }
  
  h1 {
    color: #333; /* Cor escura para o título */
    font-size: 2.5rem; 
    margin-bottom: 1rem; 
    text-align: center;
  }
  
  h2 {
    color: #4285f4; /* Cor azul para subtítulos */
    font-size: 1.8rem;
    margin-bottom: 0.5rem; 
    border-bottom: 2px solid #eee; /* Linha sutil abaixo do subtítulo */
    padding-bottom: 0.5rem; 
  }
  
  p {
    color: #555; /* Cor cinza escuro para parágrafos */
    font-size: 1.1rem;
    line-height: 1.6; /* Espaçamento entre linhas para melhor leitura */
    margin-bottom: 1rem; 
    text-align: justify; /* Justifica o texto para melhor aparência */
  }
  
  .link {
    position: fixed;
    top: 1rem;
    left: 1.5rem;
    border-bottom: 2px solid #000;
    color: #064ab8; /* Cor azul para o link */
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none; /* Remove a decoração do link */
    transition: color 0.3s ease; /* Efeito de transição na cor */
  }
  
  .link:hover {
    color: #999; /* Cor mais escura ao passar o mouse */
  }
  